$primary-text-color: #adb5bd;
$secondary-text-color: #ffffff;

$secondary-bg-color: rgb(50, 50, 62);


$link-bg-gray: rgba(120, 201, 234, 0.18);
$link-bg-blue: rgb(0, 175, 245);

$link-bg-blue-hover: rgb(24, 125, 228);

$link-text-blue: rgb(0, 175, 245);