@use '../../styles/variables' as *;

.Navigation {

  &__list {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 8px 16px;
    color: $primary-text-color;
    text-decoration: none;
    border-radius: 8px;

    font-weight: 500;
    line-height: 21px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: $secondary-text-color;
      background-color: rgb(78, 80, 95);
    }
  }
}