@use '../../styles/variables' as *;

.Navigation {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: 14px;
    color: $primary-text-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $secondary-text-color;
    }
  }
}