@use "../../styles/variables" as *;

.Footer {
  border-top: 1px solid $border-slate-900;
  background-color: $bg-slate-950;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 0;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__copyright {
    font-size: 12px;
    color: $text-slate-500;
  }

  &__links {
    display: flex;
    gap: 16px;
  }

  &__link {
    font-size: 12px;
    color: $text-slate-500;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $primary-text-color;
    }
  }
}
