@use "./styles/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: $bg-slate-950;
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  padding-inline: 16px;
  margin: 0 auto;
}
